extends layout

block content
  form(action='/resetUserPassword',method='post')
    input(type='hidden',name='userAccountId',value='#{locals.userAccountId}')
    p
      label(for='password') New Password:
      input#password(type='password',name='password')
    p
      input(type='submit')